.main {
    &__title {
        margin-bottom: 1.875rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;

        & > li {
            text-align: center;
        }
    }
}